@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#144272;
   --red:#c8d1d6;
   --lblue:#2C74B3;
   --dblue:#0A2647;
   --black:rgb(70, 70, 70);
   --dblack:#000;
   --yellow:rgb(255, 188, 5);
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none !important;
   text-transform: capitalize;
   
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}
 
.link-btn2{
    display: inline-block;
    padding:1rem 4rem;
    border-radius: .5rem;
    background-color: var(--blue);
    cursor: pointer;
    font-size: 1.9rem;
    color:var(--white);
    margin-left: 5%;
    margin-top: 3%;
    
    margin-bottom:3rem;
 }

.link-btn2:hover{
   background-color: var(--black);
   color:var(--dblack);
}










 *::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: #144272;
}






.heading{
    text-align: center;
    font-size: 4rem;
    color:var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
    margin-top: 5rem;
 }








.contact form{
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding:2rem;
    margin:0 auto;
    max-width: 50rem;
    margin-top: 25px;
    margin-bottom: 35px;
    
    
 }
 
 .contact form .message{
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: var(--blue);
    padding:1.2rem 1rem;
    font-size: 1.7rem;
    color:var(--white);
    text-align: center;
 }
 
 .contact form .box{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: var(--white);
    padding:1.2rem 1.4rem;
    font-size: 1.7rem;
    color:var(--black);
    text-transform: none;
    
 }
 
 .contact form span{
    font-size: 1.7rem;
    color:var(--black);
 }







.footer{
   background-color: var(--blue);
   padding-bottom: 1%;
   padding-top: 5rem;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:2.5rem;
  border-top: 10rem;

}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   line-height: 5rem;
   font-size: 2rem;
   background-color: var(--red);
   color:var(--black);
}

.footer .box-container .box h3{
   font-size: 2rem;
   margin:2rem 0;
   color:var(--light-bg);
}

.footer .box-container .box p{
   font-size: 1.5rem;
   color:var(--dblack);
   text-transform: none;
   margin-left: 0px;
   margin-right: 50px;
   
}

.footer .credit{
   text-align: center;
   border-top: var(--border);
   padding-top: 2rem;
   margin-top: 2rem;
   margin-bottom: 1rem;
   padding-bottom: 1rem;
   font-size: 2rem;
   color:var(--red);
}

.footer .credit span{
   color:var(--light-bg);
}












@media only screen and (max-width:900px){

   html{
      font-size: 50%;
      
   }

   .about-text .h1{
      font-size: 4rem;
   }
   .about-text .h5{
      font-size: 3rem;
   }
   .about-text .p{
      font-size: 1.5rem;
      display: block;
      
      
   }
}

@media only screen and (max-width:500px){

   html{
      font-size: 50%;
      
   }
   .para{
      margin-bottom: 10%;
   }

   .about-text .h1{
      font-size: 4rem;
      font-size: 50%;

   }
   .about-text .h5{
      font-size: 3rem;
      font-size: 50%;
   }
   .about-text .p{
      font-size: 1.5rem;
      display: block;
      font-size: 50%;
      
   }
}




