@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#144272;
   --red:#c8d1d6;
   --lblue:#2C74B3;
   --dblue:#0A2647;
   --black:rgb(70, 70, 70);
   --dblack:#000;
   --yellow:rgb(255, 188, 5);
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none !important;
   text-transform: capitalize;
   
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:7rem 2rem;
}

.heading{
   text-align: center;
   font-size: 4rem;
   color:var(--dblack);
   text-transform: uppercase;
   font-weight: bolder;
   margin-bottom: 3rem;
}

.link-btn{
   display: inline-block;
   padding:1rem 3rem;
   border-radius: .5rem;
   background-color: var(--blue);
   cursor: pointer;
   font-size: 1.9rem;
   color:var(--white);
}

.link-btn:hover{
   background-color: var(--black);
   color:var(--dblack);
}

.header{
   padding:2rem;
   border-bottom: var(--border);
}

.header.active{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:0;
}

.header .logo{
   font-size: 3rem;
   color:var(--black);
}

.header .logo span{
   color:var(--blue);
   
}

.header .nav a{
   margin:0 1rem;
   font-size: 1.8rem;
   color:var(--dblack);
}

.header .nav a:hover{
   color:var(--dblue);
}

#menu-btn{
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
   display: none;
}



 .about-text{
    width: 100%;
    padding: 78px 0px;
    background-color: #fff;
    display: grid;
    

 }

 .about-text h1{
   color:var(--black);
   font-size: 80px;
   text-transform: capitalize;
   margin-bottom: 1%;
   margin-top: auto;
   text-align: left;
   margin-left: 8%;
   

 }
 .about-text h1 span{
    color:#144272;
    margin-top: auto;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 1%;
    margin-right: 10%;
    text-align: left;
     
 }

 .about-text h5{
   color:rgb(70, 70, 70);
   font-size: 35px;
   text-transform: capitalize;
   margin-bottom: 3%;
   margin-right: 10%;
   letter-spacing: 2px;
   text-align: left;
   margin-left: 8%;
   display: block;

 }
 .about-text p{
   color:rgb(70, 70, 70);
   font-size: 20px;
   text-transform: capitalize;
   
   margin-left:10% ;
   letter-spacing: 2px;
   line-height: 30px;
   margin-right: 10%;
   text-align: left;
   display:grid;
   
 }









.link-btn{
   display: inline-block;
   padding:2rem 3rem;
   border-radius: .5rem;
   background-color: var(--blue);
   cursor: pointer;
   font-size: 1.9rem;
   color:var(--white);
   margin-left: 10%;
   
   
}
.link-btn2{
    display: inline-block;
    padding:1rem 3rem;
    border-radius: .5rem;
    background-color: var(--blue);
    cursor: pointer;
    font-size: 1.9rem;
    color:var(--white);
    margin-left: 5%;
    margin-top: 3%;
    
    margin-bottom:3rem;
 }

.link-btn2:hover{
   background-color: var(--black);
   color:var(--dblack);
}










 *::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: #144272;
}







.map{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 98%;
    margin-top: 0rem;
        
}

.texts{
    color:rgb(70, 70, 70);
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 10rem;
    margin-left:6% ;
    margin-right: 5px;
    letter-spacing: 2px;
    line-height: 30px;
   
    text-align: left;
      
}





.footer{
   background-color: var(--dblue);
   padding-bottom: 1%;
   padding-top: 5rem;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:2.5rem;
  border-top: 10rem;

}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   line-height: 5rem;
   font-size: 2rem;
   background-color: var(--red);
   color:var(--black);
}

.footer .box-container .box h3{
   font-size: 2rem;
   margin:2rem 0;
   color:var(--light-bg);
}

.footer .box-container .box p{
   font-size: 1.5rem;
   color:var(--red);
   text-transform: none;
   margin-left: 0px;
   margin-right: 50px;
   
}

.footer .credit{
   text-align: center;
   border-top: var(--border);
   padding-top: 2rem;
   margin-top: 2rem;
   margin-bottom: 1rem;
   padding-bottom: 1rem;
   font-size: 2rem;
   color:var(--red);
}

.footer .credit span{
   color:var(--light-bg);
}












@media only screen and (max-width:900px){

   html{
      font-size: 50%;
      
   }

   .about-text .h1{
      font-size: 4rem;
   }
   .about-text .h5{
      font-size: 3rem;
   }
   .about-text .p{
      font-size: 1.5rem;
      display: block;
      
      
   }
}

@media only screen and (max-width:500px){

   html{
      font-size: 50%;
      
   }
   .para{
      margin-bottom: 10%;
   }

   .about-text .h1{
      font-size: 4rem;
      font-size: 50%;

   }
   .about-text .h5{
      font-size: 3rem;
      font-size: 50%;
   }
   .about-text .p{
      font-size: 1.5rem;
      display: block;
      font-size: 50%;
      
   }
}




