@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* CSS pseudo-class matches the root element of a tree */
:root{
   --blue:#144272;
   --red:#c8d1d6;
   --lblue:#2C74B3;
   --dblue:#0A2647;
   --black:rgb(70, 70, 70);
   --dblack:#000;
   --yellow:rgb(255, 188, 5);
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none !important;
   text-transform: capitalize;
   
}


*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:7rem 2rem;
}

.heading{
   text-align: center;
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
   font-weight: bolder;
   margin-bottom: 50px;
   
}

.header{
   padding:2rem;
   border-bottom: var(--border);
}

.header.active{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:0;
}

.header .logo{
   font-size: 2rem;
   color:var(--black);
}

.header .logo span{
   color:var(--blue);
   
}

.header .nav a{
   margin:0 1rem;
   font-size: 1.8rem;
   color:var(--black);
}

.header .nav a:hover{
   color:var(--lblue);
}

#menu-btn{
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
   display: none;
}

.l-btn{
   display: inline-block;
   padding-right: 90rem;
   padding:1rem 3rem;
   border-radius: .5rem;
   background-color: var(--blue);
   cursor: pointer;
   font-size: 1.9rem;
   color:var(--white);
}

.l-btn:hover{
   background-color: var(--black);
   color:var(--dblack);
}





section{
   padding:7rem 2rem;
}
.services{
padding-top: 100px;
}

.carousel-item{
   height: 70vh;
   background: black;
   color: white;
   position:relative;
   background-position: center;
   background-size: cover;
}

.container0{
   font-size: medium;
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 padding-left: 150px;
 padding-bottom: 50px;
 text-align: left;
 
 color: var(--dblack);
 

}
.container1{
   font-size: medium;
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 padding-bottom: 50px;
 text-align: center;
 color: var(--dblack);

}
.container2{
   font-size: medium;
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 padding-bottom: 50px;
 padding-right:150px;
 padding-left: 0;
 text-align: right;
 color: var(--light-bg);

}

.overlay-image {
   position: absolute;
   bottom:0;
   left:0;
   right:0;
   top:0;
   background-position: center;
   background-size: cover;
   opacity: 0.5;


}











.serv1 .row{
   min-height: 50vh;
}

.serv1 .content span{
   font-size: 2.4rem;
   color:var(--blue);
}

.serv1 .content h3{
   font-size: 3.4rem;
   color:var(--black);
   margin-top: 1rem;
}

.serv1 .content p{
   padding:1rem 0;
   font-size: 1.9rem;
   color:var(--light-color);
   line-height: 2;
}


.serv2 .row{
   min-height: 50vh;
}

.serv2 .content span{
   font-size: 2.4rem;
   color:var(--blue);
}

.serv2 .content h3{
   font-size: 3.4rem;
   color:var(--black);
   margin-top: 1rem;
}

.serv2 .content p{
   padding:1rem 0;
   font-size: 1.9rem;
   color:var(--light-color);
   line-height: 2;
}




.serv3 .row{
   min-height: 50vh;
}

.serv3 .content span{
   font-size: 2.4rem;
   color:var(--blue);
}

.serv3 .content h3{
   font-size: 3.4rem;
   color:var(--black);
   margin-top: 1rem;
}

.serv3 .content p{
   padding:1rem 0;
   font-size: 1.9rem;
   color:var(--light-color);
   line-height: 2;
}





.serv4 .row{
   min-height: 50vh;
}

.serv4 .content span{
   font-size: 2.4rem;
   color:var(--blue);
}

.serv4 .content h3{
   font-size: 3.4rem;
   color:var(--black);
   margin-top: 1rem;
}

.serv4 .content p{
   padding:1rem 0;
   font-size: 1.9rem;
   color:var(--light-color);
   line-height: 2;
}




.serv5 .row{
   min-height: 50vh;
}

.serv5 .content span{
   font-size: 2.4rem;
   color:var(--blue);
}

.serv5 .content h3{
   font-size: 3.4rem;
   color:var(--black);
   margin-top: 1rem;
}

.serv5 .content p{
   padding:1rem 0;
   font-size: 1.9rem;
   color:var(--light-color);
   line-height: 2;
}




.serv6 .row{
   min-height: 50vh;
}

.serv6 .content span{
   font-size: 2.4rem;
   color:var(--blue);
}

.serv6 .content h3{
   font-size: 3.4rem;
   color:var(--black);
   margin-top: 1rem;
}

.serv6 .content p{
   padding:1rem 0;
   font-size: 1.9rem;
   color:var(--light-color);
   line-height: 2;
}












.link-btn{
   display: inline-block;
   padding:1rem 3rem;
   border-radius: .5rem;
   background-color: var(--blue);
   cursor: pointer;
   font-size: 1.9rem;
   color:var(--white);
   margin-left: 10%;
   
   margin-bottom:5rem;
}

.link-btn:hover{
   background-color: var(--black);
   color:var(--dblack);
}




.footer{
    background-color: var(--red);
 }
 
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:3rem;
 }
 
 .footer .box-container .box{
    text-align: center;
 }
 
 .footer .box-container .box i{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    background-color: var(--blue);
    color:var(--white);
 }
 
 .footer .box-container .box h3{
    font-size: 2rem;
    margin:2rem 0;
    color:var(--black);
 }
 
 .footer .box-container .box p{
    font-size: 1.5rem;
    color:var(--light-color);
    text-transform: none;
 }
 
 .footer .credit{
    text-align: center;
    border-top: var(--border);
    padding-top: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .footer .credit span{
    color:var(--blue);
 }
 
 
 
 .loc-btn{
    display: inline-block;
    padding:1rem 2rem;
    margin-left: 2rem;
    border-radius: 0rem;
    background-color: var(--light-color);
    cursor: pointer;
    font-size: 1.8rem;
    color:var(--red);
 }
 
 .loc-btn:hover{
    background-color: var(--dblack);
    color:var(--white);
 }
 
 
 
 
 /* media queries  */
 @media (max-width:1400px){
 
    html{
       font-size: 55%;
    }
 
    .header .link-btn{
       display: none;
    }
 
    section{
       padding:5rem 2rem;
    }
    .about-btn{
       margin-top: 20px;
    }
    .home .contents h2{
       font-size: 80px;
    }
    .home .contents{
       width: auto;
       height: auto;
       
    }
 }
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
    .header .link-btn{
       display: none;
    }
 
    section{
       padding:5rem 2rem;
    }
    .about-btn{
       margin-top: 20px;
    }
    .home .contents h2{
       font-size: xx-large;
    }
    .home .contents{
       width: auto;
       height: auto;
       
    }
 }
 
 @media (max-width:768px){
 
    section{
       padding:3rem 1rem;
    }
 
    #menu-btn{
       display: inline-block;
       transition: .2s linear;
    }
 
    #menu-btn.fa-times{
       transform: rotate(180deg);
    }
 
    .header .nav{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: var(--white);
       border-top: var(--border);
       border-bottom: var(--border);
       padding:1rem 0;
       text-align: center;
       flex-flow: column;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       transition: .2s linear;
    }
 
    .header .nav.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .nav a{
       margin:1rem 0;
       font-size: 2rem;
    }
 
    .about-btn{
       margin-top: 20px;
    }
 
    .home{
       background-position: left;
       height: auto;
    }
 
    .home .contents{
       width: auto;
       height: auto;
       
    }
    .home .contents h2{
       font-size:x-large; 
    }
    
 
    
    
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 40%;
    }
 
    .home .contents h2{
       font-size: large;
    }
 
    .heading{
       font-size: 3rem;
    }
 
 }
 